<section class="mainbar">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm12 col-xs-12">

            </div>

            <div class="col-lg-6 col-md-6 col-sm12 col-xs-12">
                <div class="login-box">
                    <div class="input-group">
                        <input type="text" class="input-group " ng-model="credentials.username"
                               placeholder="username">
                    </div>
                    <div class="input-group">
                        <input type="password" class="input-group" ng-model="credentials.password"
                               placeholder="password">
                    </div>
                    <input type="submit" class="btn btn-block btn-success"
                           ng-click="vm.submitLogin(credentials)">Login</input>


                </div>


            </div>
            <div>

              <!--  - कुरा आजभन्दा ६ महिना अगाडीको हो । म माघको २७ गते रामेछाप गएको थिए, त्यहाँ मेरो मामाघर हो र मामाको ...-->

            </div>


        </div>
    </div>
</section>
