<style>
    #close {
        margin-right: 25px;
        /* margin-top: 15px; */
        bottom: -51px;
        position: relative;
    }

    #hero {
        /* margin-top: 15px; */
        top: -20px;
        position: relative;
    }

    .form-group .help-block {
        display: none;

    }

    .error-block {
        color: #a94442;

    }

    .form-item-container {
        height: 85px;
    }

    .form-group.has-error .help-block {
        display: block;
    }

    .radiobox {
        width: 50px;
    }



</style>
<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div  data-ng-show="showMe" class="row">
                <button type="button" class="btn btn-primary btn-lg right"
                        ng-click="initCreatePanel()">Create Training Center
                </button>
            </div>
            <div ng-show="vm.showCreatePanel" class="row" id="hero">
                <div class="row">

                    <button type="button" class="btn btn-default btn-sm right" ng-click="closeThePanel()" id="close">
                        <span class="glyphicon glyphicon-remove red"></span> Close
                    </button>
                </div>
                <div class="widget wblue">
                    <div form-panel title="{{vm.title}}"></div>
                    <div class="widget-content user">


                        <form name="tcForm" novalidate>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> Details</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="col-md-4 form-item-container">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : tcForm.name.$invalid && !tcForm.name.$pristine }">
                                            <label>Name :<span>*</span></label>
                                            <input type="text" name="name" class="form-control"
                                                   ng-model="tcmodel.name" required>

                                            <p ng-show="(tcForm.name.$error.required && !tcForm.name.$pristine) ||( submitted  && tcForm.name.$pristine)"
                                               class="error-block">Name
                                                is required.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 form-item-container">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : tcForm.address.$invalid && !tcForm.address.$pristine }">
                                            <label>Address :<span>*</span></label>
                                            <input type="text" name="address" class="form-control"
                                                   ng-model="tcmodel.address" required>

                                            <p ng-show="(tcForm.address.$error.required && !tcForm.address.$pristine) ||( submitted  && tcForm.address.$pristine)"
                                               class="error-block">Address
                                                is required.</p>

                                        </div>
                                    </div>

                                    <div class="col-md-4 form-item-container">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : tcForm.district.$invalid && !tcForm.district.$pristine }">
                                            <label>District :<span>*</span></label>
                                            <input type="text" name="district" class="form-control"
                                                   ng-model="tcmodel.district" required>

                                        </div>
                                        <p ng-show="(tcForm.district.$error.required && !tcForm.district.$pristine) ||( submitted  && tcForm.district.$pristine)"
                                           class="error-block">District
                                            is required.</p>

                                    </div>
                                    <div class="col-md-4 form-item-container">
                                        <div class="form-group"
                                             ng-class="{ 'has-error' : tcForm.zone.$invalid && !tcForm.zone.$pristine }">
                                            <label>Zone :<span>*</span></label>
                                            <input type="text" name="zone" class="form-control"
                                                   ng-model="tcmodel.zone" required>

                                            <p ng-show="(tcForm.zone.$error.required && !tcForm.zone.$pristine) ||( submitted  && tcForm.zone.$pristine)"
                                               class="error-block">Zone
                                                is required.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 form-item-container">
                                        <div class="dropdown">
                                            <label style="width: auto;">Parent Training Center :<span>*</span></label>
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownMenu1" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                {{selectedTrainingCenterItem}}
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li ng-repeat="tc in trainingCenters track by $index"><a
                                                        ng-click="trainingCenterDropboxitemselected(tc)">{{tc}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary" ng-click="submitFormss(tcForm.$valid)">
                                {{btnText}}
                            </button>

                            {{tcForm.valid}}
                        </form>
                    </div
                    >

                </div>
            </div>

            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="Training Centers View Panel"></div>
                    <!--Point to be noted show-filter can be set as either true or false-->
                    <table ng-table="vm.tableParams" class="table" show-filter="false">
                        <tr ng-repeat="tc in $data">
                            <td   style="width: auto;text-align: center;" title="'Name'" filter="{ age: 'text'}" sortable="'name'">
                                <a style="color:#1171a3;" data-toggle="tooltip" title="Go To Training !" href="/#/trainingCenter/{{tc.id}}">{{tc.name}}</a>
                            </td>

                            <td style="width: auto;text-align: center" title="'Address'" filter="{ name: 'text'}"
                                sortable="'address'">
                                <span>{{tc.address}}</span>
                            </td>
                            <td style="width: auto;text-align: center" title="'District'" filter="{ name: 'text'}"
                                sortable="'district'">
                                <span>{{tc.address}}</span>
                            </td>
                            <td style="width: auto;text-align: center" title="'Zone'" filter="{ name: 'text'}"
                                sortable="'zone'">
                                <span>{{tc.address}}</span>
                            </td>
                            <td style="width: auto;text-align: center" title="'Parent Training Center'"
                                filter="{ name: 'text'}" sortable="'address'">
                                <span>{{tc.parentTrainingCenter}}</span>
                            </td>


                           <!-- <td data-ng-show="showMe" style="width: auto;text-align: center" class="cursor-hands">
                                <span data-toggle="tooltip" title="Edit !" class="glyphicon glyphicon-pencil green"
                                      ng-click="initEditPanel(tc.id)"></span>
                            </td>-->
                            <td data-ng-show="showMe" style="width: auto;text-align: center" >
                                <a data-toggle="tooltip" title="Edit !">
                                <button class="glyphicon glyphicon-pencil green"
                                      ng-click="initEditPanel(tc.id)"></button>

                                    </a>
                            </td>
                            <td data-ng-show="showMe" style="width: auto;text-align: center" >
                                <a data-toggle="tooltip" title="Delete !">
                                    <button class="glyphicon glyphicon-trash red "
                                            ng-click=" deleteTrainingCenter(tc.id)"></button>
                                </a>
                            </td>

                            <td style="width: auto;text-align: center"  >

                                <a data-toggle="tooltip" title="Go to Training !!" href="/#/trainingCenter/{{tc.id}}">
                                          <button >
                                    <i class="fa fa-eye blue" aria-hidden="true"></i>
                                      </button>
                                </a>

                            </td>


                        </tr>
                    </table>


                </div>
            </div>

        </div>
    </section>
</section>
