<div data-ng-controller="Shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                Modular Demo
            </div>
        </div>
    </div>

    <header class="clearfix">
        <div data-ng-include="'app/layout/topnav.html'"></div>
        <div ng-if="sideBar" data-ng-include="'app/layout/sidebar.html'"></div>
    </header>
    <section id="content" class="content">



        <div data-ng-view class="shuffle-animation"></div>


        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>

    </section>
</div>


